img,
video {
  width: 100%;
  height: auto;
}
.media-item {
  width: 89px;
}
.media-content-musique {
  display: flex;
  gap: auto;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.media-line {
  border: none;
  border-top: 3px dotted #000;
  width: 100%;
  margin: 30px 0;
}

.media-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.media-content p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
}
.media-othersprojects {
  width: 151.743px;
  height: 121px;
}
.media-apropos {
  width: 150px;
  height: 150px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


