footer {
    width: 101%;
    background-color: #000; /* Fond noir */
    color: #F9F0D8;
    padding: 30px 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

footer img[alt="logo"] {
    width: 80px; 
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 1rem;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffd700; 
}
.footer-menu,
.footer-nouscontacter {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menu li,
.footer-nouscontacter li {
    margin-bottom: 8px;
    font-size: 0.9rem;
}

.footer-menu a,
.footer-nouscontacter a {
    color: #F9F0D8;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-nouscontacter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer-infos{
    display: flex;
    flex-direction: column;
}

.footer-icones {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
}

footer p {
    font-size: 0.8rem;
    color: #aaa;
    margin-top: 10px;
}

footer p a {
    color: antiquewhite;
    text-decoration: underline;
    transition: text-decoration 0.3s;
}

footer p a:hover {
    text-decoration: underline;
}
