.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #000000;
    color: #000000;
    height: 60px;
    gap: 100px;
}
.header-logo{
    max-width: 72px;
    margin-top: 1px;
    position: relative;
    z-index: 20;

}
.header-icone{
    max-width: 32px;
    margin-top: 1px;
    z-index: 20;
}



