.header {
    display: flex;
    align-items: center;
    right: 0;
    padding: 10px 20px;
    background-color: #000000;
    height: 60px;
    justify-content: space-between;
}

.header-logo {
    max-width: 100px;
    margin-top: 1px;
    position: relative;
    z-index: 20;
}

.header-icons {
    display: flex;
    align-items: center;
    z-index: 20;
}

.header-icone {
    max-width: 40px;
    margin-top: 1px;
    margin-left: 10px; 
    z-index: 20;
}

.header__right{
    display: flex;
    align-items: center;
    right: 0;
    margin-left: 200px;
    gap: 20px;
}

.header-lang {
    margin-right: -20px;
}
