.menu {
    position: fixed;
    visibility: hidden;
    background-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.menu[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    background-color: #1D305B;

}

.noscroll {
    overflow: hidden;
}

.menu__list {
    list-style: none;
    margin-left: 20px;
    padding: 0;
    padding-bottom: 52px;
    font-size: 30px;
    font-style: normal;
}

.menu__link {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    font-weight: 30px;
    font-size: 30px;
    font-style: normal;
}

.menu-btn {
    position: relative;
    display: flex;
    background-color: transparent;
    border: none;
}

