.menu {
    position: fixed;
    visibility: hidden;
    background-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(100%); 
    transition: transform 0.3s ease, visibility 0.3s ease, opacity 0.3s ease; 
    opacity: 0; 
}

.menu[aria-hidden="false"] {
    visibility: visible;
    opacity: 1; 
    transform: translateX(0); 
    z-index: 1000;
    background-color: #1D305B;
}

.noscroll {
    overflow: hidden;
}

.menu__list {
    list-style: none;
    margin-left: 20px;
    padding: 10px;
    padding-top: 2rem;
    padding-bottom: 52px;
}

.menu__link {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    font-weight: 30px;
    font-size: 24px;
    font-style: normal;
    font-family: "Michroma", serif;
    line-height: 90px;
}

.menu-btn {
    position: relative;
    display: flex;
    background-color: transparent;
    border: none;
}

.menu img {
    width: 100%;
    margin-top: 20px;
    margin-left: 29px;
}

.menu-back {
    position: relative;
    display: flex;
    background-color: transparent;
    border: none;
}

.menu_top {
    display: flex;
    gap: 220px;
    align-items: center;
}


