
.card {
    position: relative; 
    background-size: cover; 
    background-position: center;
    border-radius: 15px; 
    overflow: hidden; 
    width: 353.887px;
    height: 306px;
    margin: 20px auto; 
    padding: 20px;
    color: #fff; 
    text-align: left; 
}

.card h2 {
    font-style: antonio;
    font-size: 32px; 
    margin-bottom: 10px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.card p {
    font-size: 16px;
    line-height: 1.6; 
    color: #fff;
    margin-bottom: 20px; 
}

.card .btn {
    display: inline-block; 
    padding: 10px 20px; 
    font-size: 1rem; 
    color: #A82A29; 
    background-color: #F9F0D8; 
    border: none; 
    border-radius: 20px; 
    text-decoration: none;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    float: right;
}

.card .btn:hover {
    background-color: #a6001f; 
}

.card::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: 1;
}

.card * {
    position: relative; 
    z-index: 2; 
}
.card1 {
    background-image: url('/assets/img/photoaccueil1.webp');
}

.card2 {
    background-image: url('/assets/img/photoaccueil2.webp');
}

.card3 {
    background-image: url('/assets/img/photoaccueil3.webp');
}
.card4 {
    background-image: url('/assets/img/photoaccueil4.webp');
}
.card5 {
    background-image: url('/assets/img/photoaccueil5.webp');
}

