.carousel-container {
  max-width: 900px;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel img {
  width: 355.397px;
  height: 165px;
  flex-shrink: 0;
  margin: 0 10px;
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
