
.chronology-line{
    width: 51.01px;
    height: 0px;
    border: 0.2px solid #1D305B;
}

.chronology-line-title {
    width: 75px;
    border: 0.2px solid #1D305B;
}
.chronology-title{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.chronology-img {
  width: 132px;
}

.chronology-item--left {
    display: flex;
    margin-bottom: 20px;
}

.chronology-item--right {
    display: flex;
    margin-bottom: 20px;
    flex-flow: row-reverse;
}

.chronology {
    margin-left: 40px;
    margin-right: 40px;
}
.chronology-arrow img{
    width: auto;
    height: 50rem;
}

.chronology-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -47rem;
}