.chronology {
  display: inline;
  margin-top: 50px;
  margin: 20px;
}
.chronology-item {
  width: 132px;
  height: 132px;
  margin-bottom: 72px;
}
.chronology-img{
    width: 132px;
    padding-bottom: 40px;
}
.chronology-item-right{
    margin-right: 20px;
    float: right;
}
.chronology-item-left {
    margin-left: 20px;
    display: inline-block;
}

.chronology-line{
    width: 51.01px;
    height: 0px;
    border: 0.2px solid #1D305B;
}

.chronology-line-title {
    width: 75px;
    border: 0.2px solid #1D305B;
}
.chronology-title{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
