.chronology{
    display: flex;
    margin-top: 50px;
}
.chronology-item{
    width: 132px;
    height: 132px;
    margin-bottom: 72px;
}

.chronology-item-right{
    width: 30%;
    margin-right: 20px;
    float: right;
}
.chronology-img{
    width: 132px;
    margin-left: 20px;
    margin-right: 20px;
}